@model Driver.Models.ViewModels.BrokerRequirementCreateViewModel

@{
    ViewData["Title"] = "New Broker";
}


<main id="js-page-content" role="main" class="page-content">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Transport</li>
        <li class="breadcrumb-item">Drivers</li>
        <li class="breadcrumb-item active">New</li>
    </ol>
    <form asp-action="Create">
        <div class="subheader">
            <h1 class="subheader-title">New Broker</h1>
            <div class="subheader-block">
                <a asp-action="Index" class="btn btn-outline-primary waves-effect waves-themed">Cancel</a>
                @*<button type="submit" class="btn btn-primary waves-effect waves-themed">Save</button>*@
                <input type="submit" value="submit" class="btn btn-sm btn-primary rounded-0 text-uppercase" />
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="accordion accordion-outline" id="accordion-driver-form">
                    <div class="card">
                        <div class="card-header">
                            <a href="javascript:void(0);" class="card-title" data-toggle="collapse" data-target="#accordion-basic-details" aria-expanded="true">
                                Basic details
                                <span class="ml-auto">
                                    <span class="collapsed-reveal">
                                        <i class="fal fa-chevron-up fs-xl"></i>
                                    </span>
                                    <span class="collapsed-hidden">
                                        <i class="fal fa-chevron-down fs-xl"></i>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div id="accordion-basic-details" class="collapse show" data-parent="#accordion-driver-form">
                            <div class="card-body">
                                <div class="row form-group">
                                    
                                    <div class="col-sm">
                                        <label asp-for="Id" class="form-label"></label>
                                        <input asp-for="Id" type="text" class="form-control" />
                                        <span asp-validation-for="Id" class="text-danger"></span>
                                    </div>
                                    <div class="col-sm">
                                        <label asp-for="ContactPerson" class="form-label"></label>
                                        <input asp-for="ContactPerson" type="text" class="form-control" />
                                        <span asp-validation-for="ContactPerson" class="text-danger"></span>
                                    </div>
                                    <div class="col-sm">
                                        <label asp-for="LicenseNo" class="form-label"></label>
                                        <input asp-for="LicenseNo" type="text" class="form-control" />
                                        <span asp-validation-for="LicenseNo" class="text-danger"></span>
                                    </div>
                                    <div class="col-sm">
                                        <label asp-for="Mobile" class="form-label"></label>
                                        <input asp-for="Mobile" type="text" class="form-control" />
                                        <span asp-validation-for="Mobile" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-sm">
                                        <label asp-for="ContactNo" class="form-label"></label>
                                        <input asp-for="ContactNo" type="text" class="form-control" />
                                        <span asp-validation-for="ContactNo" class="text-danger"></span>
                                    </div>
                                    <div class="col-sm">
                                        <label asp-for="Email" class="form-label"></label>
                                        <input asp-for="Email" type="text" class="form-control" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="col-sm">
                                        <label asp-for="Country" class="form-label"></label>
                                        <input asp-for="Country" type="text" class="form-control" />
                                        <span asp-validation-for="Country" class="text-danger"></span>
                                    </div>
                                    <div class="col-sm">
                                        <label asp-for="City" class="form-label"></label>
                                        <input asp-for="City" type="text" class="form-control " />
                                        <span asp-validation-for="City" class="text-danger"></span>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </form>
</main>








@section scripts{
    <script type="text/javascript">

        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}  