@model Driver.Models.ViewModels.DriverBasicCreateViewModel

@{
    ViewData["Title"] = "New Driver";
}

@*<div class="col-md-10 mx-auto py-4">
    <div class="card">
        <div class="card-header bg-primary text-uppercase text-white">
            <h4>Add New </h4>
        </div>
        <div class="card-body">
            <form enctype="multipart/form-data" asp-action="Create">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="FirstName" class="control-label"></label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="LastName" class="control-label"></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="EmiratesId" class="control-label"></label>
                            <input asp-for="EmiratesId" class="form-control" />
                            <span asp-validation-for="EmiratesId" class="text-danger"></span>
                        </div>
                    </div>

                </div>
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="WhatsappNo" class="control-label"></label>
                            <input asp-for="WhatsappNo" class="form-control" />
                            <span asp-validation-for="WhatsappNo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="MobileNo" class="control-label"></label>
                            <input asp-for="MobileNo" class="form-control" />
                            <span asp-validation-for="MobileNo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="InternationalNo" class="control-label"></label>
                            <input asp-for="InternationalNo" class="form-control" />
                            <span asp-validation-for="InternationalNo" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-6">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Language" class="control-label"></label>
                                <input asp-for="Language" class="form-control" />
                                <span asp-validation-for="Language" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Picture" class="control-label"></label>
                            <div class="custom-file">
                                <input asp-for="Picture" class="custom-file-input" id="customFile">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                            <span asp-validation-for="Picture" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="submit" class="btn btn-sm btn-primary rounded-0 text-uppercase" />
                    <a asp-action="Index" class="btn btn-sm btn-primary rounded-0 text-uppercase"><i class="fas fa-fast-backward"></i> Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>*@

<main id="js-page-content" role="main" class="page-content">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item">Transport</li>
        <li class="breadcrumb-item">Drivers</li>
        <li class="breadcrumb-item active">New</li>
    </ol>
    <form  asp-action="Create">
        <div class="subheader">
            <h1 class="subheader-title">New Driver</h1>
            <div class="subheader-block">
                <a asp-action="Index" class="btn btn-outline-primary waves-effect waves-themed">Cancel</a>
                @*<button type="submit" class="btn btn-primary waves-effect waves-themed">Save</button>*@
                <input type="submit" value="submit" class="btn btn-sm btn-primary rounded-0 text-uppercase" />
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="accordion accordion-outline" id="accordion-driver-form">
                    <div class="card">
                        <div class="card-header">
                            <a href="javascript:void(0);" class="card-title" data-toggle="collapse" data-target="#accordion-basic-details" aria-expanded="true">
                                Basic details
                                <span class="ml-auto">
                                    <span class="collapsed-reveal">
                                        <i class="fal fa-chevron-up fs-xl"></i>
                                    </span>
                                    <span class="collapsed-hidden">
                                        <i class="fal fa-chevron-down fs-xl"></i>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div id="accordion-basic-details" class="collapse show" data-parent="#accordion-driver-form">
                            <div class="card-body">
                                <div class="row form-group">
                                    <div class="col-sm">
                                        <label asp-for="Picture" class="form-label">Driver picture</label>
                                        <div class="custom-file">
                                            <input asp-for="Picture" type="file" class="custom-file-input" id="emp-pic">
                                            <label  class="custom-file-label" for="emp-pic">Choose file</label>
                                        </div>
                                        <span asp-validation-for="Picture" class="text-danger"></span>
                                    </div>
                                    <div class="col-sm">
                                        <label asp-for="Id" class="form-label">ID</label>
                                        <input  asp-for="Id" type="text" class="form-control" />
                                    </div>
                                    <div class="col-sm">
                                        <label asp-for="FirstName" class="form-label">First Name</label>
                                        <input asp-for="FirstName" type="text" class="form-control" />
                                    </div>
                                    <div class="col-sm">
                                        <label asp-for="LastName" class="form-label">Last Name</label>
                                        <input asp-for="LastName" type="text" class="form-control" />
                                    </div>
                                    <div class="col-sm">
                                        <label asp-for="EmiratesId" class="form-label">Emirates ID</label>
                                        <input asp-for="EmiratesId" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-sm">
                                        <label asp-for="WhatsappNo" class="form-label">Whatsapp No.</label>
                                        <input asp-for="WhatsappNo" type="text" class="form-control" />
                                    </div>
                                    <div class="col-sm">
                                        <label asp-for="MobileNo" class="form-label">Mobile No.</label>
                                        <input asp-for="MobileNo" type="text" class="form-control" />
                                    </div>
                                    <div class="col-sm">
                                        <label asp-for="InternationalNo" class="form-label">International Mobile No.</label>
                                        <input asp-for="InternationalNo" type="text" class="form-control" />
                                    </div>
                                    <div class="col-sm">
                                        <label asp-for="Language" class="form-label">Language</label>
                                        <select  asp-for="Language" class="form-control">
                                            <option value="">Urdu</option>
                                            <option value="">English</option>
                                            <option value="">Arabic</option>
                                            <option value="">French</option>
                                        </select>
                                    </div>
                                    <div class="col-sm">
                                        <label  asp-for="Nationality" class="form-label">Nationality</label>
                                        <select  asp-for="Nationality" class="form-control">
                                            <option value="">Pakistani</option>
                                            <option value="">Indian</option>
                                            <option value="">Chinese</option>
                                            <option value="">American</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-sm">
                                        <label asp-for="DateOfBirth" class="form-label">DOB</label>
                                        <input asp-for="DateOfBirth" type="text" class="form-control js-datepicker" readonly />
                                    </div>
                                    <div class="col-sm">
                                        <label asp-for="DateOfJoining" class="form-label">Date of joining</label>
                                        <input asp-for="DateOfJoining" type="text" class="form-control js-datepicker" readonly />
                                    </div>
                                    <div class="col-sm">
                                        <label asp-for="PassportExpiryDate" class="form-label">Passport No.</label>
                                        <input asp-for="PassportExpiryDate" type="text" class="form-control" />
                                    </div>
                                    <div class="col-sm">
                                        <label asp-for="PassportExpiryDate" class="form-label">Password Expiry</label>
                                        <input asp-for="PassportExpiryDate" type="text" class="form-control js-datepicker" readonly />
                                    </div>
                                    <div class="col-sm">
                                        <label asp-for="VisaExpiry" class="form-label">Visa Expiry</label>
                                        <input asp-for="VisaExpiry" type="text" class="form-control js-datepicker" readonly />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a href="javascript:void(0);" class="card-title collapsed" data-toggle="collapse" data-target="#accordion-residence" aria-expanded="false">
                                Residence
                                <span class="ml-auto">
                                    <span class="collapsed-reveal">
                                        <i class="fal fa-chevron-up fs-xl"></i>
                                    </span>
                                    <span class="collapsed-hidden">
                                        <i class="fal fa-chevron-down fs-xl"></i>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div id="accordion-residence" class="collapse" data-parent="#accordion-driver-form">
                            <div class="card-body">
                                <div class="row form-group">
                                    <div class="col-sm-2">
                                        <label asp-for="ResidenceCountry" class="form-label">Residence Country</label>
                                        <input asp-for="ResidenceCountry" type="text" class="form-control" />
                                    </div>
                                    <div class="col-sm-2">
                                        <label asp-for="CityName" class="form-label">Residence City</label>
                                        <input asp-for="CityName" type="text" class="form-control" />
                                    </div>
                                    <div class="col-sm">
                                        <label asp-for="Address1" class="form-label">Address 1</label>
                                        <input asp-for="Address1" type="text" class="form-control" />
                                    </div>
                                    <div class="col-sm">
                                        <label asp-for="Address2" class="form-label">Address 2</label>
                                        <input asp-for="Address2" type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <a href="javascript:void(0);" class="card-title collapsed" data-toggle="collapse" data-target="#accordion-company-profile" aria-expanded="false">
                                Company profile
                                <span class="ml-auto">
                                    <span class="collapsed-reveal">
                                        <i class="fal fa-chevron-up fs-xl"></i>
                                    </span>
                                    <span class="collapsed-hidden">
                                        <i class="fal fa-chevron-down fs-xl"></i>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div id="accordion-company-profile" class="collapse" data-parent="#accordion-driver-form">
                            <div class="card-body">
                                <div class="row form-group">
                                    <div class="col-sm-3">
                                        <label asp-for="DriverType" class="form-label">Driver type</label>
                                        <input asp-for="DriverType" type="text" class="form-control" />
                                    </div>
                                    <div class="col-sm-3">
                                        <label asp-for="Company" class="form-label">Company / Broker</label>
                                        <input asp-for="Company" type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</main>








@section scripts{
    <script type="text/javascript">

        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}  