.nav-menu {
  li {
    a {
      padding: 0.8125rem 1rem;
    }

    > ul {
      li {
        a {
            padding: 0.8125rem 2rem 0.8125rem 1.75rem;
        }
      }
    }
  }
}

.table {
  td {
    vertical-align: middle;
  }
}

.subheader-block {
  > * + * {
    margin-left: 15px;
  }
}

.modal-fullscreen {
  img.d-block {
    max-width: 80%;
    margin: auto;
  }
}

.custom-file-label {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.form-control {
  border-radius: 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  padding-left: 0;
  padding-right: 0;
  background-color: transparent;
}

.input-group-text {
  border-radius: 0;
  border-right: 0;
  border-left: 0;
  border-top: 0;
  padding-left: 5px;
}

.custom-file-label {
  border-radius: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding-left: 0;
  padding-right: 0;
  height: calc(1.47em + 1rem + 1px);
}

.custom-file-label::after {
  border-radius: 0;
}

.subheader-block {
  display: flex;

  .btn {
    min-width: 100px;
  }
}

.select2-dropdown {
  z-index: 2050;
}
.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
}
.select2-dropdown {
  border-radius: 0;
}

.tagsinput {

  &-dropdown {
    display: none;
  }

  .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
    border-top: 1px solid #886ab5;
    border-top-color: #886ab5;
  }
  .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom: 1px solid #886ab5;
    border-bottom-color: #886ab5;
  }
}